*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
header{
    /* background: #2c2c2c; */
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 5%;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.logo img{
    max-width: 250px;
    margin: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 15px;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #4aa3df;
}
.navmenu .login{
    padding: 0 18px;
}
.navmenu .login a{
    padding: 8px 20px;
    color: #fff;
    background: #3498db;
    border-radius: 50px;
}
.navmenu .login a:hover{
    color: #fff;
    background: #4aa3df;
}

.wrapper{
    width: 100%;
    /* background-color: #4aa3df; */
    height: 100vh;
}
.wrapper .sidebar{
    width: 300px;
    height: 100vh;
    padding: 100px 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    /* background: burlywood; */
}
.wrapper li{
    /* background-color: aquamarine; */
    margin: 14px 0;
    /* border */
}


.wrapper .sidebar a{
    align-items: center;
    display: flex;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    color: #2c2c2c;
    text-transform: capitalize;
    transition: all .4s ease;
    /* background-color: aqua; */
}
.wrapper .sidebar a i{
    font-size: 20px;
    padding-right: 20px;
}
.wrapper li a:hover, .wrapper li a.active{
    color: #3498db;
    background: #1967d21a;
}


/* 





header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    margin: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #EE1C47;
}
.nav_icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
} */